<div class="container">
  <h4>Welcome back {{ identity.name }} 💪😻</h4>

  <div class="text-center" [hidden]="!hasAdminRole()">
    <button type="button" class="btn btn-light " (click)="createTournmament()">
      🚀 Create Tournament
    </button>
  </div>

  <div class="text-center">
    <button type="button" class="btn btn-light" (click)="refreshLeaderBoard()">
      ♽ Refresh Board
    </button>
  </div>

  <!--  -->
  <table class="table table-striped table-bordered" up-target=".container" up-hungry poll>
    <thead>
      <tr>
        <th scope="col" class="fit">PetID</th>
        <th scope="col" class="fit">Votes</th>
        <th scope="col" class="fit">Up</th>
        <th scope="col" class="fit">Down</th>
        <th scope="col" class="fit"></th>
      </tr>
    </thead>
    <tr *ngFor="let player of leaderBoard">
      <th scope="col" class="fit">{{ player.petId }}</th>
      <th scope="col" class="fit">{{ player.voteTally }}</th>
      <th scope="col" class="fit">{{ player.upVotes }}</th>
      <th scope="col" class="fit">{{ player.downVotes }}</th>
      <th scope="col" class="fit">
        <button type="button" class="btn btn-light" (click)="voteForPet(player.petId, 'UP')">
          👍
        </button>
        <button type="button" class="btn btn-light" (click)="voteForPet(player.petId, 'DOWN')">
          👎
        </button>
      </th>
    </tr>
    <tr *ngIf="leaderBoard.length == 0">
      <td colspan="4">No data found.</td>
    </tr>
  </table>

  <div class="text-center" [hidden]="!hasAdminRole()">
    <!-- <button type="button" class="btn btn-light" (click)="startTournament()">
      🏌️‍♂️ Start Tournament
    </button>

    <button type="button" class="btn btn-light " (click)="stopTournament()">
      🏁 Stop Tournament
    </button> -->

    <button type="button" class="btn btn-light " (click)="deleteTournmament()">
      🗡 Delete Tournament
    </button>
  </div>
</div>
