<div class="container">
  <h1>Tournament</h1>

  <table class="table table-striped table-bordered" up-target=".container" up-hungry poll>
    <a class="text-uppercase" routerLink="/tournament" routerLinkActive="active" (click)="listTournament()">
      <i class="fas fa-gamepad "></i>
      <span translate> Tournament</span>
    </a>

    <thead>
      <tr>
        <th scope="col" class="fit">PetID</th>
        <th scope="col" class="fit">Votes</th>
        <th scope="col" class="fit">Up</th>
        <th scope="col" class="fit">Down</th>
      </tr>
    </thead>
    <tr>
      <td colspan="4">No data found.</td>
    </tr>
  </table>
</div>
